 absl-py
 altair
 astunparse
 attrs
 backports.zoneinfo
 black
 blinker
 cachetools
 certifi
 charset-normalizer
 click
 colorama
 contourpy
 cycler
 dlib
 face-recognition
 face-recognition-models
 flatbuffers
 fonttools
 gast
 gitdb
 GitPython
 google-auth
 google-auth-oauthlib
 google-pasta
 grpcio
 h5py
 idna
 importlib-metadata
 importlib-resources
 Jinja2
 jsonschema
 jsonschema-specifications
 keras
 kiwisolver
 libclang
 Markdown
 markdown-it-py
 MarkupSafe
 matplotlib
 mdurl
 mypy-extensions
 numpy
 oauthlib
 opencv-python
 opt-einsum
 packaging
 pandas
 pathspec
 Pillow
 pkgutil_resolve_name
 platformdirs
 protobuf
 pyarrow
 pyasn1
 pyasn1-modules
 pydeck
 Pygments
 pyparsing
 python-dateutil
 pytz
 referencing
 requests
 requests-oauthlib
 rich
 rpds-py
 rsa
 scipy
 seaborn
 six
 smmap
 streamlit
 streamlit-lottie
 streamlit-option-menu
 tenacity
 tensorboard
 tensorboard-data-server
 tensorboard-plugin-wit
 tensorflow
 tensorflow-estimator
 tensorflow-io-gcs-filesystem
 termcolor
 toml
 tomli
 toolz
 tornado
 typing_extensions
 tzdata
 tzlocal
 urllib3
 validators
 watchdog
 Werkzeug
 wrapt
 zipp

